#map {
	margin-top:10px; 
	margin-left:200px; 
	width:1200px;
	height:800px;
	border-radius:3px;
}
 
.glyphicon {
    font-size: 20px;
}

.glyphicon.glyphicon-th {
    font-size: 25px;
}


.footer {
  margin-top:100px;
}

.footer > p {
  text-align:center;
  color:rgb(118, 118, 118);
}
